.feedback {
	padding: 6.25rem 10.31rem;
	background: var(--grey-color, #fff9f8);
	display: flex;
	justify-content: space-between;
}

.left__side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.88rem;
}

.block__title {
	margin-top: 1.3rem;
	color: var(--accent-color, #875b52);

	font-size: 1.625rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 2.4375rem */
	width: 29rem;
}

.primary__btn {
	border-radius: 0.5rem;
	background: var(--accent-color, #875b52);

	/* btn primary */
	box-shadow: -2px 4px 5px 0px rgba(148, 93, 60, 0.06);
	padding: 0.75rem 2.44rem;

	color: var(--text-color, #fff);
	text-align: center;

	/* text small semibold */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 160%; /* 1.6rem */

	margin-top: 1.5rem;

	width: 13.4375rem;
}

.checkbox {
	display: flex;
	gap: 0.3rem;
	color: var(--accent-color, #875b52);

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

.underline__text {
	text-decoration: underline;
}

@media (max-width: 1280px) {
	.feedback {
		padding: 6.25rem 5rem;
	}
}

@media (max-width: 460px) {
	.feedback {
		flex-direction: column;
		padding: 4.38rem 1.25rem;
		align-items: center;
		background-image: url('./../../../Img/feedback__bg.png');
	}
	.feedback img {
		display: none;
	}
	.form {
		border-radius: 0.5rem;
		background: var(--grey-color, #fff9f8);
		padding: 1.87rem 1.56rem;
		gap: 1rem;
	}
	.block__title {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 500;
		line-height: 130%; /* 1.95rem */
		text-align: center;
		width: 100%;
	}

	.primary__btn {
		width: 100%;
		margin-top: 4rem;
	}
}
