.rooms {
	padding: 6.25rem 10.31rem;
	display: flex;
	flex-direction: column;

	gap: 4.5rem;
}

.rooms__book {
	padding: 1.9rem 0rem;
	display: flex;
	flex-wrap: wrap;

	gap: 1.88rem;
	row-gap: 4.37rem;

	width: 100%;
	justify-content: center;
}

@media (max-width: 1280px) {
	.rooms {
		padding: 6.25rem 5rem;
	}
	.rooms_book {
		padding: 1.9rem 0rem;
	}
}

@media (max-width: 460px) {
	.rooms {
		flex-direction: column;
		padding: 4.38rem 1.25rem;
		align-items: center;
	}
	.rooms__book {
		flex-direction: column;
		align-items: center;
	}

	.about img {
		display: none;
	}
	.text__side {
		width: 100%;
		align-items: center;
	}
	.preferences__items {
		flex-wrap: wrap;
		gap: 1.25rem;
	}
	.item {
		width: 10rem;
	}
}
