.input__date {
	position: relative;
	width: 15rem;
	height: 3.125rem;

	border-radius: 0.4375rem;
	border: 1px solid var(--accent-color, #956446);
	background: white;

	box-shadow: -2px 4px 5px -4px rgba(109, 95, 85, 0.08);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.31rem 1.25rem;
}

.form {
	position: relative;
}

.input__text_side {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.2rem;
	align-items: flex-start;
}

.input__title {
	color: var(--pink-color, #d7bbbb);
	text-align: center;

	/* text super small */
	font-family: 'Noto Sans';
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 1.2rem */
}

.input__text {
	color: var(--accent-color, #956446);
	text-align: center;

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}

.date__picker {
	position: absolute;
	top: -21rem;
	left: -2.5rem;
}

@media (max-width: 460px) {
	.form {
		width: 100%;
	}
	.input__date {
		width: 100%;
	}
	.date__picker {
		position: absolute;
		top: -19rem;
		left: 0;
		width: 100%;
	}
}

@media (max-width: 400px) {
	.date__picker {
		position: absolute;
		top: -19rem;
	}
}

@media (max-width: 360px) {
	.date__picker {
		position: absolute;
		top: -19rem;
	}
}

@media (max-width: 320px) {
	.date__picker {
		position: absolute;
		top: -19rem;
	}
}
