.preferences {
	background: var(--ui-pinkish, #fff8f6);
	width: 100vw;
	padding: 6.25rem 10.31rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.preferences__items {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	color: var(--accent-color, #956446);
	text-align: center;

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}

@media (max-width: 1280px) {
	.preferences {
		padding: 6.25rem 5rem;
	}
}

@media (max-width: 460px) {
	.preferences {
		flex-direction: column;
		padding: 4.38rem 1.25rem;
		align-items: center;
	}

	.about img {
		display: none;
	}
	.text__side {
		width: 100%;
		align-items: center;
	}
	.preferences__items {
		flex-wrap: wrap;
		gap: 1rem;
		row-gap: 2.5rem;
	}
	.item {
		width: 10rem;
	}
}

@media (max-width: 380px) {
	.item {
		width: 8rem;
	}
}

@media (max-width: 320px) {
	.item {
		width: 6rem;
	}
}
