.services {
	background: var(--grey-color, #fff8f6);
	width: 100%;
	padding: 6.25rem 0;
	display: flex;
	flex-direction: column;

	align-items: center;

	gap: 4rem;
}

.services__without__bg {
	width: 100%;
	padding: 6.25rem 0;
	display: flex;
	flex-direction: column;

	align-items: center;

	gap: 4rem;
}

.services__list {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.list__item {
	display: flex;
	align-items: center;
	gap: 1rem;

	color: var(--accent-color, #956446);

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}

.bold__text {
	font-weight: 700;
	line-height: 160%;
}

@media (max-width: 460px) {
	.services {
		flex-direction: column;
		padding: 4.38rem 1.25rem;
		align-items: center;
	}
	.list__item svg {
		width: 1.5625rem;
		height: 1.56256rem;
	}
	.list__item {
		width: 100%;
		display: flex;
		gap: 0.8rem;
		font-size: 0.9375rem;
	}
	.list__item span {
		width: 80%;
	}
}
