body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	vertical-align: none;
}

img,
svg {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

button,
input {
	border: none;
	outline: none;
	transition: 0.3s all;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

.container {
	margin: 0 10.31rem;
}

.block__title {
	color: var(--accent-color, #956446);

	/* H2 */
	font-family: 'Cormorant';
	font-size: 2.8125rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.title__line {
	width: 4.375rem;
	height: 0.0925rem;

	background: var(--accent-color, #956446);
}

.block__text {
	color: var(--accent-color, #956446);

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}

textarea:focus,
textarea:active,
input:focus {
	outline: none;
}
.input {
	color: var(--ui-accent, #875b52);
	width: 100%;
	background: none;
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */

	border-bottom: 0.0625rem solid var(--accent-color);
	padding: 0.31rem 0;
}

.input__error {
	color: var(--ui-accent, #875b52);
	width: 100%;
	background: none;
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */

	border-bottom: 0.0625rem solid var(--red-color);
	padding: 0.31rem 0;
}

.block__page {
	padding: 14rem 10.31rem 6.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.2rem;
}

.block__page_text {
	width: 100%;
	display: flex;
	flex-direction: column;

	gap: 1.5rem;

	color: var(--accent-color, #875b52);

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}

.dot__list {
	margin-left: 2rem;
}

.underline__text {
	text-decoration: underline;
}

.alice-carousel {
	position: relative;
	width: 100%;
	margin: auto;
	direction: ltr;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.alice-carousel__stage {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	transform-style: flat;
	-webkit-transform-style: flat;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.alice-carousel__stage-item {
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 5px;
	white-space: normal;
	line-height: 0;
	vertical-align: top;
}
.alice-carousel__prev-btn {
	text-align: right;
	position: absolute;
	top: -8.6rem;
	right: 3rem;
}
.alice-carousel__prev-btn-item {
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	margin: 0;
	color: var(--accent-color);
}
.alice-carousel__next-btn {
	text-align: left;

	position: absolute;
	top: -8.6rem;
	right: 0;
}
.alice-carousel__next-btn-item {
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	margin: 0;
	color: var(--accent-color);
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 5px;
	font-size: 1rem;
}
.alice-carousel__dots {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin: 30px 0 5px;
	padding: 0;
	list-style: none;
	text-align: center;
}
.alice-carousel__dots-item {
	width: 8px;
	height: 8px;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--pink-color);
}

.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
	position: relative;
	content: attr(data-area);
	text-transform: capitalize;
}

.alice-carousel__prev-btn-item.__inactive,
.alice-carousel__next-btn-item.__inactive {
	opacity: 0.4;
	pointer-events: none;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
	background-color: var(--accent-color);
}

.error__svg {
	width: 100px;
	height: 100px;
	fill: var(--red-color);
}

.error__text {
	color: var(--red-color);
	text-align: center;
}

.success__text {
	color: var(--accent-color);
	text-align: center;
}

.text__center{
	text-align: center;
}

:root {
	--accent-color: #875b52;
	--text-color: white;
	--gray-color: #fff9f8;
	--pink-color: #d7bbbb;
	--red-color: #b3261e;

	--color-text: #434141;
	--color-placeholder: rgba(0, 0, 0, 0.5);
	--color-additional: var(--accent-color);
	--color-additional7: rgba(100, 188, 255, 0.7);
	--background-color-calendar: white;
	--background-color-calendar-header: white;
	--alert-bg:var(--red-color)
	--chakra-colors-red-500: var(--red-color);
}

.date__container {
	background-color: var(--background-color-calendar);
	font-size: 15px;
	color: var(--color-text);
	border-radius: 15px;
	padding: 5px 25px;
	margin-bottom: 15px;
}

@media (max-width: 1440px) {
	.block__title {
		font-size: 2.5rem;
	}
}

@media (max-width: 1280px) {
	.block__page {
		padding: 14rem 5rem 6.25rem;
	}
}

@media (max-width: 460px) {
	.block__page {
		padding: 14rem 1.25rem 6.25rem;
	}
	.block__title {
		text-align: center;

		font-size: 2.1875rem;
		font-style: normal;
		font-weight: 600;
		line-height: 100%;

		gap: 0.8rem;
	}

	.block__page_text {
		gap: 1rem;
	}

	.title__line {
		width: 3.125rem;
		height: 0.0625rem;
	}
	.alice-carousel__prev-btn,
	.alice-carousel__next-btn {
		display: none;
	}
}
