.room__item {
	display: flex;
	gap: 2rem;
}

.room__item__column {
	display: flex;
	flex-direction: column;
	width: calc(50% - 1.88rem);
	gap: 2rem;
}

.room__item__column .services__items {
	height: 10rem;
}

.room__item img,
.room__item__column img {
	cursor: pointer;
}

.info__block {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.info__header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.room__name {
	color: var(--accent-color, #956446);

	/* H3 */
	font-family: 'Noto Sans';
	font-size: 1.625rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 2.4375rem */
}

.room__persons {
	display: flex;
	align-items: center;
	gap: 1rem;

	color: var(--accent-color, #956446);

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}

.info__text {
	width: 100%;
	color: var(--accent-color, #956446);

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
	height: 3rem;
}

.info__services {
	color: var(--accent-color, #956446);

	/* text small bold */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 160%; /* 1.6rem */

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.services__items {
	display: flex;
	flex-direction: column;

	gap: 0.5rem;
}

.service__item {
	display: flex;
	align-items: center;
	gap: 0.65rem;

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}
.service__item svg {
	width: 1.5625rem;
	height: 1.5625rem;
}

.info__footer {
	margin-top: 2rem;
	width: 100%;
	border-top: 1px solid var(--accent-color);
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.info__price {
	margin-top: 1.25rem;
	display: flex;
	justify-content: space-between;

	color: var(--accent-color, #956446);
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 160%; /* 1.6rem */
}

.footer__buttons {
	display: flex;
	gap: 1.25rem;
}

.primary__btn {
	width: 13.4375rem;
	height: 3.125rem;
	flex-shrink: 0;
	border-radius: 0.5rem;
	background: var(--accent-color, #956446);

	/* btn */
	box-shadow: -2px 4px 5px 0px rgba(148, 93, 60, 0.06);

	color: var(--text-color, #fff);

	display: flex;
	align-items: center;
	justify-content: center;

	/* text small semibold */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 160%; /* 1.6rem */

	cursor: pointer;
}

.secondary__btn {
	width: 13.4375rem;
	height: 3.125rem;
	flex-shrink: 0;

	border-radius: 0.5rem;
	border: 1px solid var(--accent-color, #956446);
	background: var(--text-color, #fff);

	/* btn light */
	box-shadow: -2px 4px 5px -4px rgba(109, 95, 85, 0.08);

	color: var(--accent-color, #956446);

	/* text small semibold */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 160%; /* 1.6rem */

	cursor: pointer;
}

@media (max-width: 460px) {
	.room__item {
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
	}

	.room__item__column {
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
	}

	.room__item img {
		width: 100%;
	}

	.info__text {
		height: auto;
	}

	.info__block {
		height: auto;
		width: 100%;
	}
	.room__name {
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 500;
		line-height: 130%; /* 1.95rem */
	}

	.room__persons {
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 1.5rem */
		gap: 0.3rem;
		width: 10rem;
		justify-content: flex-end;
	}
	.footer__buttons {
		flex-direction: column;
		gap: 0.6rem;
	}
	.primary__btn {
		width: 100%;
	}
	.secondary__btn {
		width: 100%;
	}
}
