.contacts {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts__block {
	padding: 6.25rem 10.31rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list__item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	text-align: center;
}

.item__border {
	width: 0.0625rem;
	height: 12.5rem;
	flex-shrink: 0;
	background: var(--accent-color, #956446);
}

.item__title {
	color: var(--accent-color, #956446);

	font-family: 'Noto Sans';
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 2.2rem */
}

.item__text {
	color: var(--accent-color, #956446);
	text-align: center;

	/* text small */
	font-family: 'Noto Sans';
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 1.6rem */
}

@media (max-width: 1280px) {
	.contacts__block {
		padding: 6.25rem 5rem;
	}
}

@media (max-width: 460px) {
	.contacts__block {
		flex-direction: column;
		padding: 4.38rem 1.25rem;
		align-items: center;
	}
	.item__border {
		display: none;
	}
	.list {
		flex-wrap: wrap;
		gap: 1.3rem;
	}

	.list__item {
		width: 45%;
		align-items: center;
	}
}
